doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title We are the university
  link(rel='stylesheet' href='/reset.css')
  link(rel='stylesheet' href='/style.css')
  meta(property='og:image' content=attributes ? attributes.socialImage : 'https://wearetheuniversity.org/social.jpg')
  meta(property='twitter:image' content=attributes ? attributes.socialImage : 'https://wearetheuniversity.org/social.jpg')
  meta(property='og:image:type' content='image/jpeg')
  meta(property='og:image:width' content='1920')
  meta(property='og:image:height' content='1080')
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='manifest' href='/site.webmanifest')
  link(rel='prefetch' href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
  link(rel='prefetch' href="https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2")
  link(rel='prefetch' href="https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2")

body 
  section.banner
    h1.logo We are the university
    p.tight(style="font-size: 0.85em;")
      | We the students and staff are the beating heart of this institution. We are not a bonus attached to a venture capitalist and real-estate development firm. This institution should exist for education, research, and service to the public; it should be led by the staff and students who make it happen. There can't be a university without us, our passion, and our labour. The university is not management.
      | #[br]
      | We reclaim the identity that management steals from us.
      | #[br]
      | We are the university.
    span.socials
      p Find us
      <a href="https://www.instagram.com/wearetheuniversity/" target="_blank"><svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg></a>
      <a href="https://bsky.app/profile/wearetheuniversity.bsky.social/" target="_blank"><svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M407.8 294.7c-3.3-.4-6.7-.8-10-1.3c3.4 .4 6.7 .9 10 1.3zM288 227.1C261.9 176.4 190.9 81.9 124.9 35.3C61.6-9.4 37.5-1.7 21.6 5.5C3.3 13.8 0 41.9 0 58.4S9.1 194 15 213.9c19.5 65.7 89.1 87.9 153.2 80.7c3.3-.5 6.6-.9 10-1.4c-3.3 .5-6.6 1-10 1.4C74.3 308.6-9.1 342.8 100.3 464.5C220.6 589.1 265.1 437.8 288 361.1c22.9 76.7 49.2 222.5 185.6 103.4c102.4-103.4 28.1-156-65.8-169.9c-3.3-.4-6.7-.8-10-1.3c3.4 .4 6.7 .9 10 1.3c64.1 7.1 133.6-15.1 153.2-80.7C566.9 194 576 75 576 58.4s-3.3-44.7-21.6-52.9c-15.8-7.1-40-14.9-103.2 29.8C385.1 81.9 314.1 176.4 288 227.1z"/></svg></a>
      <a href="https://wearetheuniversity.org/rss.xml" target="_blank"><svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg></a>
      <a href="emailto:email@wearetheuniversity.org" target="_blank"><svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg></a>
  section.tight
    h2 Chapters
    a(href="/chapters/auckland").box.white-box Tāmaki Makaurau – Auckland
    a(href="/chapters/new").box.white-box Start a chapter...

  section.tight 
      h2 Latest News
      p
      | Judith Collins has attacked university students and staff by removing Humanities and Social Sciences from the Marsden fund. This fund it's fundamental to early career researchers and its removal is an attack on students, particularly postgraduates. It is an attack on legislated academic freedom. It is also a blatant fortification of the national lead coalition governments resistance to evidence and informed policy.
      |
      | This is undemocratic and silencing of dissenting voices. It is not informed by research and is purely ideological. The social sciences have one of the rates of return on investment.
      |
      | Message your student union and email your MP.
      | This is far too dictator-y for our liking.
      p
        a(href="/media/MarsdenPressRelease.pdf") Press Release – Associations of Humanities and Social Sciences Across Aotearoa New Zealand
      p
        a(href="https://thespinoff.co.nz/science/05-12-2024/the-changes-to-research-funding-in-aotearoa-explained/", target="_blank") Shanti Mathias (The Spinoff) – The changes to research funding in Aotearoa, explained
      p  
        a(href="https://thespinoff.co.nz/society/05-12-2024/juliet-gerrard-funding-the-whole-pie", target="_blank") Juliet Gerrard (The Spinoff) – Funding the whole pie
      p 
        a(href="https://newsroom.co.nz/2024/12/05/anne-salmond-govt-de-funding-the-mind/", target="_blank") Anne Salmond (Newsroom) – Govt de-funding the mind
      p 
        a(href="https://theconversation.com/funding-research-for-economic-return-sounds-good-but-thats-not-how-science-really-works-245269", target="_blank") Nicola Gaston (The Conversation) – Funding research for economic return sounds good, but that's not how science really works
      p 
        a(href="https://www.rnz.co.nz/news/national/535669/government-s-marsden-fund-cuts-all-humanities-social-sciences-research-funding-slashed", target="_blank") RNZ – Government's Marsden Fund cuts all humanities, social sciences research funding slashed
      p
        a(href="https://www.1news.co.nz/2024/12/04/govt-slashes-marsden-fund-money-for-humanities-social-sciences/", target="_blank") Pretoria Gordon & Mary Argue (1 News) – Govt slashes Marsden Fund money for humanities, social sciences 
      p 
        a(href="https://www.sciencemediacentre.co.nz/2024/12/04/govt-cuts-humanities-and-social-science-funding-expert-reaction/") Science Media Centre – Govt cuts humanities and social science funding – Expert reactions
      p   
        a(href="https://newsroom.co.nz/2024/12/06/marsden-fund-cuts-a-win-for-convenient-evidence/", target="_blank") Tom Baker (Newsroom) – Marsden Fund cuts a win for convenient evidence 
      p 
        a(href="https://www.removepaywall.com/search?url=https://www.timeshighereducation.com/news/humanities-expelled-key-new-zealand-research-funding-scheme", target="_blank") Times Higher Education – Humanities expelled from key New Zealand research funding scheme
      p
        a(href="https://www.miragenews.com/marsden-fund-changes-major-setback-1371338/", target="_blank") Mirage News – Marsden Fund changes major setback
      p 
        a(href="https://www.devdiscourse.com/article/education/3180855-judith-collins-announces-updated-marsden-fund-to-focus-on-core-scientific-research", target="_blank") Devdiscourse – Judith Collins announces updated Marsden Fund to focus on core scientific research
      p 
        a(href="https://www.interest.co.nz/technology/131098/governments-marsden-and-catalyst-changes-are-defunding-our-ability-understand-and", target="_blank") Interest.co.nz – Government's Marsden and Catalyst changes are defunding our ability to understand and respond to the world
      p 
        a(href="https://union.org.nz/marsden-fund-changes-will-undermine-prosperity-and-social-cohesion/", target="_blank") NZCTU – Marsden Fund changes will undermine prosperity and social cohesion
      p 
        a(href="https://waateanews.com/2024/12/05/marsden-fund-changes-spark-researcher-backlash/", target="_blank") Waatea News – Marsden Fund changes spark researcher backlash
      p 
        a(href="https://www.maramatanga.ac.nz/node/2167", target="_blank") PRESS RELEASE Cuts to Humanities and Social Sciences Research Will Impact Māori Most
      p
        a(href="https://www.maramatanga.ac.nz/media/7281/download?inline") PRESS RELEASE Cuts to Humanities and Social Sciences Research Will Impact Māori Most
      p 
        a(href="https://www.labour.org.nz/news-release_more_cuts_to_research_science_and_innovation_sector", target="_blank") Labour Party – More cuts to research, science and innovation sector
      p 
        a(href="https://www.massey.ac.nz/about/news/opinion-the-barbarians-are-inside-the-walls/?utm_content=1733374809&utm_medium=social&utm_source=linkedin", target="_blank") Richard Shaw (Massey University) – Opinion: The barbarians are inside the walls
      p 
        a(href="https://www.rnz.co.nz/news/national/535703/universities-criticise-marsden-fund-cuts-business-group-backs-the-move", target="_blank") Pretoria Gordon & Mary Argue (RNZ) – Universities criticise Marsden Fund cuts, business group backs the move
      p 
        a(href="https://www.thepost.co.nz/nz-news/360511994/devastating-cuts-research-which-holds-society-together", target="_blank") The Post – Devastating cuts to research which holds society together
      p 
        a(href="https://www.universitiesnz.ac.nz/latest-news-and-publications/statement-cuts-marsden-funds-humanities-and-social-sciences", target="_blank") Universities NZ – Statement on cuts to Marsden Fund's humanities and social sciences
      p 
        a(href="https://www.nzherald.co.nz/nz/governments-marsden-fund-cuts-all-humanities-social-sciences-research-funding-slashed/RVKBWBX7V5FBZKVVMZB4POCB2Q/", target="_blank") NZ Herald – Government's Marsden Fund cuts all humanities, social sciences research funding slashed
      p 
        a(href="https://drbex.substack.com/p/defunding-the-social-sciences?r=4nija&utm_campaign=post&utm_medium=email&triedRedirect=true", target="_blank") Bex Bell – Defunding the social sciences
      p 
        a(href="https://dassh.edu.au/deans-condemn-ministers-cut-to-humanities-and-social-sciences-research-funding/", target="_blank") DASSH – Deans condemn Minister's cut to humanities and social sciences research funding
      p 
        a(href="https://www.funding-fundamentals.com/post/will-the-marsden-fund-refocus-disproportionately-affect-early-career-researchers", target="_blank") Funding Fundamentals – Will the Marsden Fund refocus disproportionately affect early career researchers?
      p 
        a(href="https://iier.org.au/iier32/sarpong.pdf", target="_blank") Joshua Sarpong – Research and disciplinary differences versus funding allocation in New Zealand’s higher education system
      p 
        a(href="https://www.linkedin.com/pulse/how-social-sciences-humanities-make-our-lives-better-why-seals-phd-ijkfc/?trackingId=tBrqiFSJSnW7hJIb5jmrUw%3D%3D", target="_blank") Corinne Seals – How Social Sciences and Humanities make our lives better (and why the Marsden Fund cuts are so harmful)
      p 
        a(href="https://www.linkedin.com/posts/troybaisden_economic-development-science-and-innovation-activity-7270595119949459458-2pSK?utm_source=share&utm_medium=member_desktop", target="_blank") Troy Baisden
      p 
        a(href="https://www.linkedin.com/posts/taramcallister_marsden-fund-refocused-for-science-with-a-activity-7269909257695719424-ULbx?utm_source=share&utm_medium=member_desktop", target="_blank") Tara McAllister
      p 
        a(href="https://www.linkedin.com/posts/bronwyn-hayward-mnzm-she-her-a3b1b936_irony-ishanging-up-from-the-late-night-activity-7270028685305376768-g_Ds?utm_source=share&utm_medium=member_desktop", target="_blank") Bronwyn Hayward
      p 
        a(href="https://www.linkedin.com/posts/stephen-marshall-0259a2_as-i-like-so-many-colleagues-critique-the-activity-7270240066621337618-pQcw?utm_source=share&utm_medium=member_desktop", target="_blank") Stephen Marshall
      p 
        a(href="https://www.linkedin.com/posts/dr-paul-skirrow-b6569537_in-light-of-the-nz-governments-decision-activity-7270596633552142336-senC?utm_source=share&utm_medium=member_desktop", target="_blank") Dr Paul Skirrow
      p 
        a(href="https://www.linkedin.com/posts/petergriffin_well-rhema-vaithianathan-you-saw-this-coming-activity-7269919092730421248-Tpku?utm_source=share&utm_medium=member_desktop", target="_blank") Peter Griffin
      p 
        a(href="https://www.linkedin.com/posts/activity-7270698993087590401-YHdr?utm_source=share&utm_medium=member_desktop", target="_blank") Tahu Kukutai
      p 
        a(href="https://www.linkedin.com/posts/michael-edmonds-04a67376_the-decision-to-remove-the-social-sciences-activity-7270839664645664769-_pEf?utm_source=share&utm_medium=member_desktop", target="_blank") Michael Edmonds
      p 
        a(href="https://www.linkedin.com/posts/bronwyn-hayward-mnzm-she-her-a3b1b936_two-hundred-and-fifty-arts-social-sciences-activity-7270338750197444609-U7y9?utm_source=share&utm_medium=member_desktop", target="_blank") Bronwyn Hayward
      p 
        a(href="https://www.linkedin.com/posts/annabelmcaleer_juliet-gerrard-funding-the-whole-pie-activity-7270345186080096256-y1-N?utm_source=share&utm_medium=member_desktop", target="_blank") Annabel McAleer
      p 
        a(href="https://www.linkedin.com/posts/simon-stewart-4b227a59_were-told-do-it-once-do-it-right-advancing-activity-7270369320315043841-mFtX?utm_source=share&utm_medium=member_desktop", target="_blank") Simon Stewart
      p 
        a(href="https://www.linkedin.com/posts/priscilla-wehi-4b961a38_changes-to-the-marsden-fund-and-catalyst-activity-7270196811582042114-zlzx?utm_source=share&utm_medium=member_desktop", target="_blank") Priscilla Wehi
      p 
        a(href="https://www.linkedin.com/feed/update/urn:li:activity:7270364738901929984?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A7270364738901929984%2C7270569135523151873%29&dashCommentUrn=urn%3Ali%3Afsd_comment%3A%287270569135523151873%2Curn%3Ali%3Aactivity%3A7270364738901929984%29", target="_blank") Dr. Temitope Adelekan

      //- p Our statement coming soon.

  section 
    .tight
      h1 WATU & TEU Collaborate on Wellness Campaign
      a(href="/wellness-postcards")
        h4 See the gallery of postcards and make your own.
      p 
        | As the Tertiary Education Union – Te Hautū Kahurangi continue bargaining for a fair collective agreement – including a living wage for all, We Are The University is collaborating on a wellness campaign focused on genuine consultation of student and staff perspectives about what a healthy university looks like.
      p
        | Students and staff are encouraged to make a digital postcard to express their opinions. #[a(href="/wellness-postcards") See the gallery of postcards and make your own.]
        | These postcards can be saved and shared on social media, or printed and posted on office doors and noticeboards.
      img(src="/media/pay-graph-2024.jpg", alt="", style="max-width: 20rem; margin: 0 auto; display: block;")
  
  section
    .tight
      h1 Breaking: Dawn Proposes New Combined Faculty of Law and Business & Economics
      p 
        | Dawn Freshwater has proposed a new combined faculty of Law and Business & Economics.
        | This will not stand again. The arts faculty has been decimated, there are issues with timetabling, increased workloads for staff, decreased quality and definition of their education for students. It was fast-tracked for the arts, and we know it'll happen again.
        | #[a(href="/2024/11/12/dawn-proposes-new-combined-faculty-of-law-and-business-economics") More here.]

      //- h1 Thanks for attending the rally!
      //- img(style="max-height: 50vh" alt="TEU, WSA and WATU banners hung in the hall of the clocktower](/media/teu-rally.png" src="/media/teu-rally.png")
      //- p 
      //- | Council Satire: Unfortunately, UoA Council moved online on Wednesday, somewhat undermining our picket, so some of us decided to have our own "Council" meeting with We Are The
      //- | University and Working Students Aotearoa.
      //- | Motions were passed unanimously, including:
      //- ul
      //-   li Staff and Student voice must be central in decision making. 
      //-   li All staff should be given the dignity of a Living Wage as a minimum.
      //-   li #[a(href="https://www.auckland.ac.nz/en/about-us/about-the-university/policy-hub/people-culture/career-development/staff-career-professional-development-policy-procedures.html#:~:text=22.%20Tupu%2C%20the%20annual%20performance%20and%20review%20process%20provides%20them%20with%20the%20opportunity") Tupu sucks].
      
      
      
      //- h1 Rally against course cuts!
      //- p 
      //-   span Today the administration meets to discuss the reccomendation from Senate that the CFT be paused and considered for its academic impact.
      //-   a(href="https://instagram.com/p/DA4Es4UTDwp/") Rally info here
      //- h1 We Are The University Endorses #[strong FaAfuhia Fia] for Student Representative on Council 
      //- h2 VOTING CLOSES 1PM OCTOBER 3RD
      //- h2.text-center #[a(href="https://bit.ly/voteforfa") VOTE HERE]
      //- p #[a(href="https://bit.ly/voteforfa") UoA Students please vote for FaAfuhia here] in order to secure a student reporesentative who shares un understanding of the university as the students and staff who compose it!
      //- p We will be posting our interview with Fa #[a(href="https://www.instagram.com/wearetheuniversity/") on our instagram] about the importance of the student rep role as well as why he should represent us on university council.
  section
    p.center
      | Notes for critically thinking about universities maintained by 
      a(target='_blank' href='https://javagrant.com')
        | Java
        | Grant
      sup
        abbr(title='Hosted, linked, and blogged content is not endorsed.') ^
  section(style='background-color: #fff1;')
    h1 Notices
    div(style='display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 1em;')
      div.notice
        h3 
          | ATLAS network invades UoA
        p
          | The ATLAS network front group #[em Students for Liberty] has invaded the University of Auckland. They are attempting to use our identity and trust in the university as an instiution of research to destabilise our politics with culture wars and deregulation of the oil, gas, and tobacco industries.
          | #[a(href="/2024/09/20/atlas-on-campus/") More here.]
      div.notice
        h3 
          | Staff told to keep quiet
        p
          | Management knows that students support staff and have <strong>explicitly told staff to not communicate with students regarding upcoming cuts</strong> to professional staff.
          | #[a(href="/2024/08/30/teu-update/") More here.]
      div.notice
        h3 
          | Friends outside of the University of Auckland
        p
          | Welcome! This website mostly pertains to the University of Auckland, but we know these issues are common across our universities. If you want to discuss them or start organising similarly, please get in touch.
          | #[a(href="/contact") contact us.]
      //- div.notice
      //-   h3 
      //-     | Bachelor of Education being discontinued
      //-   p
      //-     | We are hearing that the bachelor of education is being discontinued. This is a major blow to the future of educators in New Zealand. I guess having locally developed and taught pedagogy is unimportant now?
      //-     | Will report more once we have more information.
      //-     | If you have more information, please check out the #[a(href="/leak") leaking info page].
      div.notice
        h3 
          | Record turnout at Senate
        p
          | Thank you to everyone who attended the special senate meeting. We heard it was a record turnout despite the tactics of management to suppress staff and student voices.
      div.notice
        h3 
          | Special Senate Meeting Being Fast Tracked
        p
          | Dawn Freshwater has succumbed to pressure, a special meeting of senate has been called but management is trying to suppress staff and student voices.
        ul
          li 
            a(href="/2024/08/22/dawn-freshwater-all-staff-email/") Announcement of meeting
          li 
            strong 
              a(href="/2024/08/24/resources-for-senate-members/") Resources for senate members
      div.notice
        h3
          | Open Forum Feedback
        p
          | Please #[a(href="https://forms.gle/BH5h3s5VT21Lwqpd9", target="_blank") provide feedback on the student-led open forum].
  

  section
    h1.center Blog Posts #[a(href="/rss.xml", target="_blank", class="small-text") RSS]
    p.tight This section is slowly being updated to include all kinds of relevent back-dated content from archives and news outlets.
      
    //- ul.contents
    //-   for item in blog_data
    //-     li
    //-       a(href=item.link)
    //-           span
    //-               | #{item.author}
    //-           span
    //-               | #{item.title}
    //-           span
    //-               | #{item.date}
    table.tight.alternating
      thead
        tr
          th Date
          th Title
          th Author
      tbody
        for item in blog_data
          tr
            td.date #{item.date}
            td.title
              a(href=item.link)
                | #{item.title}
            td.author
              span(class=`author-tag-${(item.author || "").toLowerCase().replace(/[\s\'\"]+/g, '-').replace(/[\(\)]/g, '')}`) #{item.author}
  section.footer
    ul
      li
        a(href='/') Home
      li
        a(href='/contact') Contact