extends ./root.pug
block content
    - let keys = ['date', 'title', 'author']
    table
        thead
            tr
                each key in keys
                    th= key
        tbody
            each post in posts.sort((a, b) => b.date - a.date)
                - let datestring;
                - try { datestring = (new Date(post.date)).toISOString() } catch (e) { datestring = (new Date(0)).toISOString()}
                tr
                    each key in keys
                        if (key === 'title')
                            td 
                                a(href=`/archive/${datestring.slice(0,4)}/${datestring.slice(5,7)}/${datestring.slice(8,10)}/${post.slug}`)=post.title
                        else if (key === 'date')
                            td= datestring.slice(0,10)
                        else
                            td= post[key]
    //- for post in posts.sort((a, b) => b.date - a.date)
    //-     if (post.date && post.date.toISOString)
    //-         - let datestring = post.date.toISOString()
    //-         p
    //-             a(href=`/archive/${datestring.slice(0,4)}/${datestring.slice(5,7)}/${datestring.slice(8,10)}/${post.slug}`)=`${datestring.slice(0,4)}/${datestring.slice(5,7)}/${datestring.slice(8,10)}: ${post.title}`
    //-     else 
    //-         - console.log('Post missing date: ', post)