extends ./root.pug
block content
    h1=author.name || posts[0].author
    p!=author_info_content
    
    h2 Posts
    if posts.length === 0
        p No posts
    else
        for post in posts
            - console.log(post)
            - let date = new Date(post.date && post.date.toISOString ? post.date : new Date(0))
            - let datestring = date.toISOString()
            a(href=`/${post['post-type']}/${datestring.slice(0,4)}/${datestring.slice(5,7)}/${datestring.slice(8,10)}/${post.slug}`)
                h2=post.title
                p=post.body
                p=date.toDateString()
            