extends ./root.pug
block content
    for video in videos.sort((a, b) => b.date - a.date)
        p
            a(href=`/${video.href}`)=`${video.date.slice(0,4)}/${video.date.slice(4,6)}/${video.date.slice(6, 8)}: ${video.title}`